body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #0B071D;
}

.welcome {
    text-transform: uppercase;
    color: #fff;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0B071D;
    z-index: 99999999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-container.show {
    display: flex;
}

.loader-container.hide {
    display: none;
}

.loader-container .loader {
    display: flex;
}

.loader-container .loader .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 10px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.loader-container .loader .text .logoText {
    margin: 0 5px;
    text-transform: uppercase;
}

.loader-container .animation {
    color: #fff;
    transition: all .2s ease-in-out;
}

.loader-container .animation span {
    font-size: 36px;
    position: relative;
    display: inline-block;
    transform: translateX(-300px);
    opacity: 0;
}

.loader-container .animation span:nth-child(1) {
    animation: animation 3s 500ms infinite ease;
    animation-fill-mode: forwards;
}

.loader-container .animation span:nth-child(2) {
    animation: animation 3s 400ms infinite ease;
    animation-fill-mode: forwards;
}

.loader-container .animation span:nth-child(3) {
    animation: animation 3s 300ms infinite ease;
    animation-fill-mode: forwards;
}

.loader-container .animation span:nth-child(4) {
    animation: animation 3s 200ms infinite ease;
    animation-fill-mode: forwards;
}

.loader-container .animation span:nth-child(5) {
    animation: animation 3s 100ms infinite ease;
    animation-fill-mode: forwards;
}

.loader-container .animation span:nth-child(6) {
    animation: animation 3s infinite ease;
    animation-fill-mode: forwards;
}

@keyframes animation {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    50% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(300px);
        opacity: 0;
    }
}